@import 'reset';
@import 'variables';
@import 'botoes';
@import 'fonts';
@import 'forms';
@import 'helpers';
@import 'icon';
@import 'inputs';
@import 'placeholder';
@import 'tabelas';

body{
	font-family: "newsGothic", sans-serif;
	color: inherit;
	font-size: 14px;
	word-spacing: normal;
	color: $gray-555-bgcolor;
	width: 100%;
	margin: 0 auto;
}