.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    $white-bgcolor: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: $gray-002-bgcolor;
    background-color: $gray-001-bgcolor;
    transition: all 0.5s;
    border-color: $gray-001-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-003-bgcolor;
		background-color: $gray-003-bgcolor;
	}
	&:active {
		padding: 4px 10px;
		border: 1px solid $gray-001-bgcolor;
		background-color: $white-bgcolor;
	}
}

.btn-primary {
    color: $white-bgcolor;
    background-color: $default-bgcolor;
    transition: all 0.1s;
    border-color: $gray-001-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-001-bgcolor;
		background-color: $blue-001-bgcolor;
	}
	&:active {
		border: 1px solid $gray-001-bgcolor;
		background-color: $blue-001-bgcolor;
	}
}

.btn-success {
    color: $white-bgcolor;
    background-color: $green-001-bgcolor;
    transition: all 0.1s;
    border-color: $gray-001-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-001-bgcolor;
		background-color: $green-003-bgcolor;
	}
	&:active {
		border: 1px solid $gray-001-bgcolor;
		background-color: $green-001-bgcolor;
	}
}

.btn-info {
    color: $white-bgcolor;
    background-color: $blue-002-bgcolor;
    transition: all 0.1s;
    border-color: $gray-001-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-001-bgcolor;
		background-color: $blue-001-bgcolor;
	}
	&:active {
		border: 1px solid $gray-001-bgcolor;
		background-color: $blue-001-bgcolor;
	}
}

.btn-warning {
    color: $white-bgcolor;
    background-color: $orange-002-bgcolor;
    transition: all 0.1s;
    border-color: $gray-001-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-001-bgcolor;
		background-color: $orange-003-bgcolor;
	}
	&:active {
		border: 1px solid $gray-001-bgcolor;
		background-color: $orange-001-bgcolor;
	}
}

.btn-danger {
    color: $white-bgcolor;
    background-color: $red-002-bgcolor;
    transition: all 0.1s;
    border-color: $gray-001-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-001-bgcolor;
		background-color: $red-003-bgcolor;
	}
	&:active {
		border: 1px solid $gray-001-bgcolor;
		background-color: $red-001-bgcolor;
	}
}