.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    $white-bgcolor-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: $gray-333-bgcolor;
    background-color: $gray-f7f-bgcolor;
    transition: all 0.5s;
    border-color: $gray-ccc-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-999-bgcolor;
		background-color: $gray-eee-bgcolor;
	}
	&:active {
		padding: 4px 10px;
		border: 1px solid $gray-999-bgcolor;
		background-color: $white-bgcolor;
	}
}

.btn-primary {
    color: $white-bgcolor;
    background-color: $default-bgcolor;
    transition: all 0.1s;
    border-color: $gray-ccc-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-999-bgcolor;
		background-color: $blue-093-bgcolor;
	}
	&:active {
		border: 1px solid $gray-999-bgcolor;
		background-color: $blue-0f5-bgcolor;
	}
}

.btn-success {
    color: $white-bgcolor;
    background-color: $green-38b-bgcolor;
    transition: all 0.1s;
    border-color: $gray-ccc-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-999-bgcolor;
		background-color: $green-30a-bgcolor;
	}
	&:active {
		border: 1px solid $gray-999-bgcolor;
		background-color: $green-4cc-bgcolor;
	}
}

.btn-info {
    color: $white-bgcolor;
    background-color: $blue-0f5-bgcolor;
    transition: all 0.1s;
    border-color: $gray-ccc-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-999-bgcolor;
		background-color: $blue-3b8-bgcolor;
	}
	&:active {
		border: 1px solid $gray-999-bgcolor;
		background-color: $blue-7bb-bgcolor;
	}
}

.btn-warning {
    color: $white-bgcolor;
    background-color: $orange-ff6-bgcolor;
    transition: all 0.1s;
    border-color: $gray-ccc-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-999-bgcolor;
		background-color: $orange-dd5-bgcolor;
	}
	&:active {
		border: 1px solid $gray-999-bgcolor;
		background-color: $orange-ff7-bgcolor;
	}
}

.btn-danger {
    color: $white-bgcolor;
    background-color: $red-ff2-bgcolor;
    transition: all 0.1s;
    border-color: $gray-ccc-bgcolor;
    outline: none;
    &:hover {
		border: 1px solid $gray-999-bgcolor;
		background-color: $red-d20-bgcolor;
	}
	&:active {
		border: 1px solid $gray-999-bgcolor;
		background-color: $red-f42-bgcolor;
	}
}