.sidebar-nav {
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
	z-index: 1;
	width: 100%;
	li {
		margin-bottom: 5px;
		display: block;
		a {
			display: inline-block;
			color: $gray-004-bgcolor;
			text-decoration: none;					
			padding: 0px;
			width: 100%;
			background: $gray-000-bgcolor;
			i{
				padding: 7px 5px;
				background-color: $gray-002-bgcolor;
				width: 16px;
				text-align: center;
				color: $white-bgcolor;
			}
			&:hover{
				background: $blue-001-bgcolor;
				color: $white-bgcolor;
			}			
		}
		.active{
			background: $blue-001-bgcolor !important;
			color: $white-bgcolor !important;
		}
		.fa-circle{
			color: $gray-006-bgcolor;
			position: absolute;
			margin-left: -18px;
			margin-top: 3px;
			font-size: 10px;
		}		
		.fa-minus-square, .fa-plus-square{
			color: $blue-001-bgcolor;
			position: absolute;
			margin-left: -18px;
			margin-top: 3px;
			font-size: 10px;
		}
		.fa-exclamation-triangle{
			color: $orange-002-bgcolor;
			position: absolute;
			margin-left: -18px;
			margin-top: 3px;
			font-size: 10px;
		}
		.vermelho{
			color: $red-001-bgcolor;
		}
		.main-stack{
			@include linear-gradient-3-colors($gray-006-bgcolor,$white-bgcolor,$gray-006-bgcolor, 0%, 50%, 100%);
			color: $blue-001-bgcolor;
			font-weight: 600;
			margin-bottom: 5px;
			width: 100%;
		}
		ul{
			margin-top: 5px;
			padding: 2px 21px;
			width: calc(100% - 21px);
		}
	}
}