@mixin linear-gradient($value1,$value2) {
	background: $value1;
	background: -moz-linear-gradient(top,  $value1 0%,$value2 100%);
	background: -webkit-linear-gradient(top,  $value1 0%,$value2 100%);
	background: linear-gradient(to bottom, $value1 0%, $value2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$value1', endColorstr='$value2',GradientType=0 );
}

@-webkit-keyframes logo-animation-bounce{
	0% { -webkit-transform: translate(0px, 0px) }
	20% { -webkit-transform: translate(0px, -30px) }
	30% { -webkit-transform: translate(0px, 0px) }
	40% { -webkit-transform: translate(0px, -20px) }
	50% { -webkit-transform: translate(0px, 0px) }
	60% { -webkit-transform: translate(0px, -10px) }
	70% { -webkit-transform: translate(0px, 0px) }
	75% { -webkit-transform: translate(0px, -5px) }
	80% { -webkit-transform: translate(0px, 0px) }
	100% { -webkit-transform: translate(0px, 0px) }  
}