.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.highlight {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;   
    /*background-color: #00ffff;*/    
}

 pre {
    	/*background-color: #faebd7;*/
    	
    }



.na {
    color: #4f9fcf;
}

.s {
    color: #d44950;
}

.nt {
    color: #2f6f9f;
}